/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  margin: 0px;
}

:root {
  /*couleurs du site*/
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --main-bg-color-white: white;
  --main-bg-color-black: black;
  --filter-bg-color: #deebff;
  --main-bg-color-grey: #d9d9d9;
}

.fa-xs {
  color: var(--main-color);
}

body {
  display: block;
  justify-content: center;
  padding-bottom: 60px;
  width: 100%;
  max-width: 1440px;
  /*au dessus de 1440px nous aurons une marge */
  padding: 0px 0px;
  margin: 5px;
  /*avec ce margin, dans le responsive entre tab et port
   pour le filter ok, plus propre*/
}

main {
  padding: 0px 50px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--main-bg-color-white);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.img1,
.img2 {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

a {
  color: var(--main-bg-color-black);
  text-decoration: None;
  width: 100%;
}

/***********     Header     **********/
header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 0px 0px;
  justify-content: space-between;
}

/* logo */
.logo {
  display: flex;
  gap: 30px;
}

.logo-booki {
  width: 33%;
  height: auto;
  padding: 30px 50px 30px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* navigation */
.nav-bar {
  display: flex;
  padding: 0px 50px;
  gap: 20px;
}

.nav-bar a {
  padding-left: 20px;
  padding: 20px 0px;
  border-top: 2px solid var(--main-bg-color);
}

.nav-bar a:hover {
  color: var(--main-color);
  border-top: 2px solid;
}

/****fin du header******/

/********** Info group ***************/
.info-group {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
  align-self: stretch;
}

.info-group-title p {
  margin-top: 8px;
  margin-bottom: 10px;
}

/*******  Partie recherche  ********/
.search-bar {
  display: flex;
  width: auto;
  height: 49px;
  align-items: center;
  margin-top: 35px;
  border-radius: 15px;
  background: var(--main-bg-color-white);
  border: 1px solid var(--main-bg-color);
}

input.search {
padding: 0 20px;
}

input::placeholder {
  color: var(--main-bg-color-black);
}

input:focus {
  outline:  none;
}


.search {
  border: var(--main-bg-color-white);
  font-size: 20px;
  font-weight: 600;
  

}

.search-bar i {
  display: flex;
  width: 50px;
  height: 49px;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
  background: var(--main-bg-color);
  color: var(--main-bg-color-black);
  font-size: 18px;
  font-weight: 700;
}

.button-search {
  display: flex;
  width: auto;
  height: 49px;
  padding: 15px 16px;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: var(--main-bg-color-white);
  font-size: 18px;
  font-weight: 700;
}

.button-search:hover {
  cursor: pointer;
  color: var(--main-bg-color-black);
}

.button-search i {
  display: none;
}

/*Fin partie recherche*/

/****  Fitre bar   ****/
.filtre-bar {
  display: flex;
  width: 100%;
  margin-right: auto;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.filtre-bar p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}

.bttn-bar {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-right: auto;
  align-items: center;
  flex-wrap: wrap;
  /*effectue le retour à la ligne de .bttn-bar2*/
  margin: 10px;
}

.bttn-bar1,
.bttn-bar2 {
  display: flex;
  width: auto;
  align-items: center;
  margin-top: 15px;
}

.bouton-filtre {
  display: flex;
  width: 100%;
  height: 50px;
  gap: 10px;
  padding: 4px 19px;
  font-size: 20px;
  align-items: center;
  margin-right: 15px;
  border-radius: 25px;
  border: 2px solid var(--main-bg-color-grey);
}

.bouton-filtre:hover {
  background: var(--main-bg-color-white);
  cursor: pointer;
}

.bouton-filtre {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 4px 19px;
  align-items: center;
  color: var(--main-bg-color-black);
  font-size: 17px;
  font-weight: 700;
  border-radius: 25px;
  border: 2px solid var(--main-bg-color-grey);
}

.bouton-filtre i {
  color: var(--main-color);
  font-size: 20px;
}

.bttn-bar1,
.bttn-bar2 {
  display: flex;
  flex-direction: row;
}

/****    Info bar****/
.info-bar {
  display: flex;
  margin-bottom: 35px;
}

.info-bar p {
  margin-top: 3px;
}

.info-bar i {
  width: 20px;
  height: 20px;
  text-align: center;
  box-sizing: border-box;
  color: var(--main-color);
  border: 2px solid var(--main-bg-color);
  border-radius: 50% 50%;
  font-size: 14px;
  margin-right: 7px;
  margin-bottom: 0px;
  margin-top: 3px;
}

/* fin info bar*/
/*****Fin Info group*****/

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px 35px;
  box-sizing: border-box;
  /*box dans box*/
}

/****** Hebergements ***********/
.hebergements {
  background-color: var(--main-bg-color-white);
  width: 65%;
  padding: 30px;
}

/* 1er colone pour inclure 3 card*/
.column1 {
  display: flex;
  align-items: normal;
  gap: 30px;
  align-self: stretch;
  margin-bottom: 15px;
  margin-top: 33px;
}

/* 2ème colone pour inclure 3 card*/
.column2 {
  display: flex;
  align-items: normal;
  gap: 30px;
  align-self: stretch;
  margin-bottom: 15px;
  margin-top: 33px;
}

.card {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: stretch;
  /** espaces (les gouttières) entre les lignes et entre les colonnes **/
  gap: 4px;
  flex: 1 0 0;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.card .img1 {
  height: 124px;
  align-self: stretch;
  border-radius: 20px 20px 0px 0px;
  border: 5px solid var(--main-bg-color-white);
  background: var(--main-bg-color) 50%;
  width: 100%;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  object-fit: cover;
}

.card-content {
  width: 100%;
  height: 90px;/* hauteur defini pour card-rating soit en bas*/
  padding-left: 3px;/*reglage pour card rating soit propre*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--main-bg-color-white);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
 .card-title{
  margin-bottom: 5px;/*reglage pour card rating soit propre*/
 }

.afficher-plus {
  padding: 20px 0px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card2 {
  display: flex;
  margin-top: 33px;
}

.card2 a {
  display: flex;
  width: 100%;
  padding: 5px 5px;
  border-radius: 20px;
  background: var(--main-bg-color-white);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.populaires-cards .img2 {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}

.populaires-cards .card-content2 {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--main-bg-color-white);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.populaires-cards .card-title2 {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle2 {
  margin: 0;
}

.populaires-cards .card-rating2 {
  margin-bottom: 5px;
}

/******* Activités  *********/
.activites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  padding: 30px 30px;
}

.activites-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.card-activite {
  display: flex;
  height: 439px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.article .card-activite a {
  display: flex;
  width: 210.333px;
  height: 439px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.card-img1 {
  width: 100%;
  height: 380px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 20px 20px 0px 0px;
  background: var(--main-bg-color) 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}

.activites-title {
  display: flex;
  height: 20px;
  padding: 20px 19px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 0px 0px 20px 20px;
  background: var(--main-bg-color-white);
}

.title-activite {
  align-self: stretch;
  font-size: 16px;
}

/*********        Footer       *******/
.col-footer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-self: stretch;
  background: var(--main-bg-color);
}

.a-propos,
.nos-hebergements,
.assistance {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--main-bg-color-black);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a {
  color: var(--main-bg-color-black);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/************ Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /******* info group  ***************/
  .filtre-bar {
    display: flex;
    padding-left: 0px;
    padding-top: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .bttn-bar{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    gap: 1px;
  }
  .bouton-filtre {
    gap: 7px;
    margin-right: 9px;
  }

  .info-bar {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  /* fin de info group */

  /****** hebergements-and-populaires  ***********/
  .hebergements-and-populaires {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
    height: auto;
  }

  .card-rating {
    padding-left: 10px;
  
  }

  .card-txt {
    padding-left: 10px;
  }

  /****** les plus polulaires  ***********/
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .img2 {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /** prends tous l'espace **/
  }

  .populaires-cards .card2 {
    width: 30%;
    height: auto;
  }

  .populaires-cards .img2 {
    height: 100%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /* fin les plus populaires */

  /***  Activites   ****/
  .activites {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    padding: 30px 0px;
  }

  .card-activite {
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .card-img1,
  .card-img2,
  .card-img3,
  .card-img4 {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
  }

  .ativites-title {
    height: 33px;
  }

  .title-activite {
    font-size: 14px;
  }
  /* fin activites */

  /*******  Footer  *********/
  .col-footer h3 {
    font-size: 18px;
  }
  /* fin footer */


  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
    main {
      width: 100%;
      padding: 0 ;
      
    }

    body {
      display: flex;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 0px;
      margin: auto;
      padding: 20px;
      gap: 35px;
    }
  /****** header ******/
    header {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
    }

    .picture {
      display: flex;
      justify-content: center;
    }

    .logo-booki {
      display: flex;
      padding: 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    /*  navigation */
    nav {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .nav-bar {
      gap: 0px;
      padding: 20px 0px;
    }

    .nav-bar a {
      text-align: center;
      border-top: 0px solid;
      /*supprime ma bordure du haut*/
      border-bottom: 2px solid var(--main-bg-color);
    }

    .nav-bar a:hover {
      border-top: 0px solid;
      /*supprime ma bordure du haut au hover*/
      border-bottom: 2px solid;
    }
    /* fin header */

    /******* main    ********/
    /* info group  **/
    .info-group {
      width: 100%;
      height: auto;
      margin-top: 10px;
      padding: 0;
    }

    .info-group-title {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .info-group-title h3 {
      font-size: 22px;
    }

    /* info-search */
    .search-bar {
      width: 100%;
      max-width: 377px;
      height: auto;
      justify-content: space-between;
    }
    .search-bar i {
      min-width: 50px;
      height: 50px;
    }
    .search {
      width: 100%;
      height: auto;
      font-size: 16px;
      
    }
 
    .button-search {
      display: flex;
      min-width: 50px;
      height: 50px;
      padding: 0px 0px;
     
    }

    .span-search {
      display: none;
    }

    .button-search i {
      display: flex;
      background: var(--main-color);
      color: var(--main-bg-color-white);
      border-radius: 15px 15px 15px 15px;
    }

    .button-search i:hover {
      color: var(--main-bg-color-black);
    }

    /* filtre bar */
    .filtre-bar {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;/* centre sur info-group */
    }
    .filtre-bar p {
      width: auto;
    }
    .bttn-bar {
      width: 100%;
      height: auto;
      
    }

    .bttn-bar1,
    .bttn-bar2 {
      width: auto;
      min-width: 280px;
      max-width: 620px;
      height: auto;
      padding: 5px;
      margin: 0;
      gap: 10px;
    }

    .bouton-filtre {
      background: var(--main-bg-color-white);
      font-size: 14px;
      font-weight: 700;
      margin-right: 0px;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      padding: 0;
      margin: 0;
    }


    .bouton-filtre:hover {
      background: var(--filter-bg-color);
    }
    /* info-bar */

    /********* hebergement and populaires ***********/
    .hebergements-and-populaires {
      display: flex;
      flex-direction: column-reverse;
      align-self: center;
    }

    .hebergements-and-populaires section.hebergements {
      background: var(--main-bg-color-white);
      
    }

    .hebergements-and-populaires section {
      border-radius: 0px;
    }

    /* hebergements */
    .hebergements {
      width: 100%;
      height: auto;
      padding-left: 0px;
      padding-right: 0px;
    }

    .column1,
    .column2 {
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: normal;
    }
   
    .article .card {
      width: 100%;
      height: auto;
      margin: 0px;
    }
    .card-txt {
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .card-rating {
      padding-left: 0px;
    }
    /* fin hebergement */

    /* populaires et hebergement */
    .card .img1,
    .card .img2 {
      display: flex;
      width: 100%;
      height: 124px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    /*****  Populaires  ****************/

    .populaires {
      width: auto;
      height: auto;
    }

    section.populaires {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 0px 0px;
      margin-top: 0px;
      
    }

    .populaires-cards {
      display: flex;
      padding: 35px 0px;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      align-self: stretch;
      background: var(--main-bg-color);
      border-radius: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .populaires-cards .img2 {
      height: 146px;
    }

    .populaires-cards .card2 {
      display: flex;
      width:100%;
      height: 146px;
      padding-right: 0px;
      align-items: center;
      align-self: stretch;
      border-radius: 20px;
      background: var(--main-bg-color-white);
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .img2 {
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 20px 0px 0px 20px;
      border-top: 5px solid var(--main-bg-color-white);
      border-bottom: 5px solid var(--main-bg-color-white);
      border-left: 5px solid var(--main-bg-color-white);
      background: var(--main-bg-color) 50% / cover no-repeat;
    }

    .card-content2 {
      display: flex;
      width:100%;
      height: 146px;
      padding: 0px 0px 0px 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }

    .card-title2 {
      color: var(--main-bg-color-black);
      font-family: Raleway;
      /*font-size: 16px;  passage à 15px pour un responsive à 320px ok, ou faire un media query  */
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .card-subtitle2 {
      color: var(--main-bg-color-black);
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .card-rating2 {
      display: flex;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      padding-left: 5px;
    }



    /**** Activités ******/
    .activites {
      padding: 0px;
    }
    .activites h2 {
      margin-bottom: 5px;
      margin-left: 15px;
    }

    .activites-card {
      width:100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 0px;
    }

    .card-activite {
      width: 100%;
      height: auto;
    }

    /* fin activites */

    /****   Footer  ****/
    .col-footer {
      width:100%;
      height: auto;
      display: block;
      flex-direction: column;
      gap: 30px;
      
    }
  }
}